<div class="about">
    <div class="about-first-section" data-aos="fade-up" data-aos-duration="2000" data-aos-once="false">
        <h1>ABOUT</h1>
        <div class="paragraph">
            <div></div>
        </div>
        <p class="text-muted">In this section, I briefly introduced myself, highlighting my passion for web
            development and my dedication to creating innovative solutions. I emphasized my continuous learning mindset
            and my goal of leveraging my skills to make a positive impact in the field.</p>
    </div>
    <div class="container-fluid about-second-section" data-aos="fade-up" data-aos-duration="2000" data-aos-once="false">
        <div class="row">
            <div class="col-5">
                <div class="card card-about" style="width: 18rem;">
                    <img class="card-img-top card-img-user" src="../../assets/images/user.png" alt="Card image cap">
                </div>
            </div>

            <div class="col-7 about-main-section">
                <h1 class="text-muted card-first-text">UI/UX Designer & Front-End Developer.</h1>
                <p class="text-muted card-second-text">Hello, I'm Ali Yusubov. With my passion and interest in web
                    development, I've been honing my skills in this field for the past year.</p>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6 about-main-first-section">
                            <div class="card card-about" style="width: 18rem;">
                                <div class="card-body about-main-in-section">
                                    <div>
                                        <span class="angle-right"><i class="fa-solid fa-angle-right"></i></span><span
                                            class="card-title"><b class="bold">Birthday:</b>20 January 2006</span>
                                    </div>
                                    <div>
                                        <span class="angle-right"><i class="fa-solid fa-angle-right"></i></span><span
                                            class="card-title"><b class="bold">Website:</b>www.example.com</span>
                                    </div>
                                    <div>
                                        <span class="angle-right"><i class="fa-solid fa-angle-right"></i></span><span
                                            class="card-title"><b class="bold">Phone:</b>+994 070 620 12 14</span>
                                    </div>
                                    <div>
                                        <span class="angle-right"><i class="fa-solid fa-angle-right"></i></span><span
                                            class="card-title"><b class="bold">City:</b>Baku, Azerbaijan</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 about-main-second-section">
                            <div class="card card-about" style="width: 18rem;">
                                <div class="card-body about-main-in-section">
                                    <div>
                                        <span class="angle-right"><i class="fa-solid fa-angle-right"></i></span><span
                                            class="card-title"><b class="bold">Age:</b>18</span>
                                    </div>
                                    <div>
                                        <span class="angle-right"><i class="fa-solid fa-angle-right"></i></span><span
                                            class="card-title"><b class="bold">Degree:</b></span>
                                    </div>
                                    <div>
                                        <span class="angle-right"><i class="fa-solid fa-angle-right"></i></span><span
                                            class="card-title"><b class="bold">PhEmailone:</b></span>
                                    </div>
                                    <div>
                                        <span class="angle-right"><i class="fa-solid fa-angle-right"></i></span><span
                                            class="card-title"><b class="bold">Freelance:</b>Available</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-muted card-third-text">Throughout my journey in
                    web development, I've built a solid foundation by learning fundamental technologies like HTML, CSS,
                    and JavaScript. I strive to stay updated with the latest trends in the web world by constantly
                    renewing myself and learning new technologies. As passionate about designing and developing
                    user-friendly interfaces as I am, I also put effort into continuously improving my coding skills. In
                    my future projects, I aim to deliver more complex and impactful web solutions.</p>
            </div>
        </div>
    </div>
</div>