<div class="projects">
    <div class="projects-first-section container" data-aos="fade-up" data-aos-duration="2000" data-aos-once="false">
        <h1>PROJECTS</h1>
        <div class="paragraph">
            <div></div>
        </div>
        <p class="text-muted">In this section, I shared the projects I have developed. For each project, I provided a
            brief description along with the technologies used and the contributions made.</p>
    </div>
    <div class="projects-second-section" data-aos="fade-up" data-aos-duration="2000" data-aos-once="false">
        <div class="container">
            <div class="row margin center">
                <div class="col-sm img-left" data-aos="fade-left" data-aos-duration="2000" data-aos-once="false">
                    <a href="https://aliyusubov.github.io/Minecraft/">
                        <figure>
                            <img src='assets/images/ProjectMinecraft.png'
                                alt='Person standing alone in a misty forest'>
                            <figcaption><b>Minecraft</b><br>Game</figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-sm" data-aos="fade-right" data-aos-duration="2000" data-aos-once="false">
                    <a href="https://aliyusubov.github.io/Vector/">
                        <figure>
                            <img src='assets/images/ProjectVector.png'
                                alt='Person hiking on a trail through mountains while taking a photo with phone'>
                            <figcaption><b>Vector</b><br>Restaurant</figcaption>
                        </figure>
                    </a>
                </div>
                <div class="w-100"></div>
                <div class="col-sm img-left" data-aos="fade-left" data-aos-duration="2000" data-aos-once="false">
                    <a href="https://aliyusubov.github.io/Logo/">
                        <figure>
                            <img src='assets/images/ProjectLogo.png'
                                alt='Street scene with person walking and others on motorbikes, all wearing masks'>
                            <figcaption><b>Logo</b><br>Site</figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-sm" data-aos="fade-right" data-aos-duration="2000" data-aos-once="false">
                    <a href="https://aliyusubov.github.io/Travel/">
                        <figure>
                            <img src='assets/images/ProjectTravel.png'
                                alt='Fashionable-looking girl with blond hair and pink sunglasses'>
                            <figcaption><b>Travel</b><br>Form</figcaption>
                        </figure>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>