<div class="skills">
    <div class="skills-first-section" data-aos="fade-up" data-aos-duration="2000" data-aos-once="false">
        <h1>SKILLS</h1>
        <div class="paragraph">
            <div></div>
        </div>
        <p class="text-muted">In this section, I provided a summary of my proficiency areas, demonstrating
            expertise in various domains such as HTML, CSS, JavaScript, and more. These skills showcase my ability to
            tackle diverse challenges and contribute effectively to projects.</p>
    </div>
    <div class="skills-second-section" data-aos="fade-up" data-aos-duration="2000" data-aos-once="false">
        <div class="container">
            <div class="row">
                <div class="progress-sign"></div>
                <div class="col-sm col-progress">
                    <div class="progress-col">
                        <span class="left-span">HTML</span><span class="right-span">100%</span>
                        <div class="progress-bars">
                            <div class="progress-bar" [style.width.%]="progress1" data-aos="progress-animation-1"
                                data-aos-once="true"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="progress-col">
                        <span class="left-span">BOOTSTRAP</span><span class="right-span">80%</span>
                        <div class="progress-bars">
                            <div class="progress-bar" [style.width.%]="progress2" data-aos="progress-animation-2"
                                data-aos-once="true"></div>
                        </div>
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="col-sm col-progress">
                    <div class="progress-col">
                        <span class="left-span">CSS</span><span class="right-span">90%</span>
                        <div class="progress-bars">
                            <div class="progress-bar" [style.width.%]="progress3" data-aos="progress-animation-3"
                                data-aos-once="true"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="progress-col">
                        <span class="left-span">NPM</span><span class="right-span">90%</span>
                        <div class="progress-bars">
                            <div class="progress-bar" [style.width.%]="progress4" data-aos="progress-animation-4"
                                data-aos-once="true"></div>
                        </div>
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="col-sm col-progress">
                    <div class="progress-col">
                        <span class="left-span">JAVASCRIPT</span><span class="right-span">75%</span>
                        <div class="progress-bars">
                            <div class="progress-bar" [style.width.%]="progress5" data-aos="progress-animation-5"
                                data-aos-once="true"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="progress-col">
                        <span class="left-span">ANGULAR</span><span class="right-span">55%</span>
                        <div class="progress-bars">
                            <div class="progress-bar" [style.width.%]="progress6" data-aos="progress-animation-6"
                                data-aos-once="true"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>