<div class="facts">
    <div class="facts-first-section" data-aos="fade-up" data-aos-duration="2000" data-aos-once="false">
        <h1>FACTS</h1>
        <div class="paragraph">
            <div></div>
        </div>
        <p class="text-muted">In this section, I shared my achievements and experiences. These details highlight both my
            personal
            and professional accomplishments, providing visitors with important information about me.</p>
    </div>
    <div class="container facts-second-section counter-sign" data-aos="fade-up" data-aos-duration="2000"
        data-aos-once="false">
        <div class="row">
            <div class="card col-3" style="width: 18rem;">
                <div class="facts-card-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                        fill="#e8eaed">
                        <path
                            d="M620-520q25 0 42.5-17.5T680-580q0-25-17.5-42.5T620-640q-25 0-42.5 17.5T560-580q0 25 17.5 42.5T620-520Zm-280 0q25 0 42.5-17.5T400-580q0-25-17.5-42.5T340-640q-25 0-42.5 17.5T280-580q0 25 17.5 42.5T340-520Zm140 260q68 0 123.5-38.5T684-400h-66q-22 37-58.5 58.5T480-320q-43 0-79.5-21.5T342-400h-66q25 63 80.5 101.5T480-260Zm0 180q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-400Zm0 320q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Z" />
                    </svg>
                </div>
                <div class="card-body counter">
                    <h1 class="card-title" data-count="100"><b>0</b></h1>
                    <p class="card-text">Happy Clients</p>
                </div>
            </div>
            <div class="card col-3" style="width: 18rem;">
                <div class="facts-card-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                        fill="#e8eaed">
                        <path
                            d="M240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h480q33 0 56.5 23.5T800-800v640q0 33-23.5 56.5T720-80H240Zm0-80h480v-640h-80v280l-100-60-100 60v-280H240v640Zm0 0v-640 640Zm200-360 100-60 100 60-100-60-100 60Z" />
                    </svg>
                </div>
                <div class="card-body counter">
                    <h1 class="card-title" data-count="100"><b>0</b></h1>
                    <p class="card-text">Project</p>
                </div>
            </div>
            <div class="card col-3" style="width: 18rem;">
                <div class="facts-card-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                        fill="#e8eaed">
                        <path
                            d="M480-40v-80h280v-40H600v-320h160v-40q0-116-82-198t-198-82q-116 0-198 82t-82 198v40h160v320H200q-33 0-56.5-23.5T120-240v-280q0-74 28.5-139.5T226-774q49-49 114.5-77.5T480-880q74 0 139.5 28.5T734-774q49 49 77.5 114.5T840-520v400q0 33-23.5 56.5T760-40H480ZM200-240h80v-160h-80v160Zm480 0h80v-160h-80v160ZM200-400h80-80Zm480 0h80-80Z" />
                    </svg>
                </div>
                <div class="card-body counter">
                    <h1 class="card-title" data-count="100"><b>0</b></h1>
                    <p class="card-text">Hours Of Support</p>
                </div>
            </div>
            <div class="card col-3" style="width: 18rem;">
                <div class="facts-card-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                        fill="#e8eaed">
                        <path
                            d="M280-120v-80h160v-124q-49-11-87.5-41.5T296-442q-75-9-125.5-65.5T120-640v-40q0-33 23.5-56.5T200-760h80v-80h400v80h80q33 0 56.5 23.5T840-680v40q0 76-50.5 132.5T664-442q-18 46-56.5 76.5T520-324v124h160v80H280Zm0-408v-152h-80v40q0 38 22 68.5t58 43.5Zm200 128q50 0 85-35t35-85v-240H360v240q0 50 35 85t85 35Zm200-128q36-13 58-43.5t22-68.5v-40h-80v152Zm-200-52Z" />
                    </svg>
                </div>
                <div class="card-body counter">
                    <h1 class="card-title" data-count="100"><b>0</b></h1>
                    <p class="card-text">Awards</p>
                </div>
            </div>
        </div>
    </div>
</div>