<div class="testimonials">
  <div class="testimonials-first-section container" data-aos="fade-up" data-aos-duration="2000" data-aos-once="false">
    <h1>TESTIMONIALS</h1>
    <div class="paragraph">
      <div></div>
    </div>
  </div>
  <div class="testimonials-second-section" data-aos="fade-up" data-aos-duration="2000" data-aos-once="false">
    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
          aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card d-block w-100" style="width: 18rem;">
            <div class="card-img-top">
              <img class="card-img-top" src="assets/images/testimonials-1.jpg" alt="Card image cap">
            </div>
            <div class="card-body">
              <h5 class="card-title">Saul Goodman</h5>
              <p class="card-text">Ceo & Founder</p>
              <p class="card-p text-muted">
                <i class="fa-solid fa-quote-left"></i>
                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium
                quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                <i class="fa-solid fa-quote-right"></i>
              </p>
            </div>
          </div>
          <div class="container">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card d-block w-100" style="width: 18rem;">
            <div class="card-img-top">
              <img class="card-img-top" src="assets/images/testimonials-2.jpg" alt="Card image cap">
            </div>
            <div class="card-body">
              <h5 class="card-title">Sara Wilson</h5>
              <p class="card-text">Designer</p>
              <p class="card-p text-muted">
                <i class="fa-solid fa-quote-left"></i>
                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium
                quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                <i class="fa-solid fa-quote-right"></i>
              </p>
            </div>
          </div>
          <div class="container">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card d-block w-100" style="width: 18rem;">
            <div class="card-img-top">
              <img class="card-img-top" src="assets/images/testimonials-3.jpg" alt="Card image cap">
            </div>
            <div class="card-body">
              <h5 class="card-title">Matt Brandon</h5>
              <p class="card-text">Freelancer</p>
              <p class="card-p text-muted">
                <i class="fa-solid fa-quote-left"></i>
                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium
                quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                <i class="fa-solid fa-quote-right"></i>
              </p>
            </div>
          </div>
          <div class="container">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>